[Unit]
Description=Kamstrup2mqtt Service
Wants=kamstrup_meter.timer

[Service]
WorkingDirectory=/opt/kamstrup
ExecStart=/usr/bin/python3 /opt/kamstrup/daemon.py

[Install]
WantedBy=multi-user.target